#cart-input input {
    width: 7rem;
    border: solid 1px;
    padding: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

#inc-button #dec-button {
    border: solid 1px;
}