#item-page {
  background-image: url("../img/dark-bg.jpg");
  height: 100vh;
}
#item-container {
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding-top: 50px;
}
#item-img {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  object-fit: contain;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 25px;
}
#item-title {
  font-size: 24;
  text-align: center;
}
#item-detail {
  padding: 25px;
  line-height: 1.5rem;
}
#item-desc-title {
  font-style: italic;
  padding-top: 2rem;
}
#item-description {
  font-weight: 300;
  text-align: justify;
}

button.back {
  border: none;
  background-color: transparent;
}
button.back > i {
  color: #fff;
}
