#header-shop {
    height: 100px;
    width: 100vw;
    background-color: #111;
    text-align: center;
    line-height: 100px;
}
#header-shop h3 {
    font-size: 36px;
    font-weight: 400;
}

#shop {
    text-align: center;
    background-image: url("../img/dark-bg.jpg");
    height: 100vh;
}
#shop-frame {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: min-content;
    overflow-x: hidden;
    overflow-y: hidden;
}
#shop-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: min-content;
    transition: transform 300ms ease-in-out;
}
.left-button, .right-button {
    position: fixed;
    z-index: 10;
    background: rgba(5,5,5,0.9);
    border: none;
    color: inherit;
    cursor: pointer;
}
.left-button {
    left: 25px; 
}
.right-button {
    right: 25px; 
}
.left-button i, .right-button i {
    font-size: 48px;
}
.item-card {
    background-color: rgba(50,50,50,0.6);
    padding: 1rem;
    border-radius: 10px;
    margin-right: 2rem;
    width: 200px;
}
.item-card img {
    height: 300px;
    object-fit: contain;
    width: 200px;
}
.item-card p {
    font-weight: 300;
    height: 2.5em;
    overflow-y: hidden;
    padding-top: 1rem;
}